{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Admin.Design.Feature" %}

{% block content %}
  <h1>Example Module Mail Theme</h1>
  Example module to add a Mail theme to PrestaShop
{% endblock %}
